body{
    background: linear-gradient(180deg,rgb(0, 128, 255) 0%,rgb(110, 213, 122),rgb(68, 66, 60));
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#button{
    background-color: rgb(95, 238, 226);
    width: 150px;
    height: 50px;
    border: 4px black solid;
    border-radius: 6%;
    
}
#button:hover{
    background-color: blue;
    box-shadow: 6px 6px 6px rgb(62, 72, 73);
}
